* {
  margin: 0;
  padding: 0;
}
body {
  background-color: hsl(204, 43%, 93%);
  font-family: "Bai Jamjuree", sans-serif;
  font-family: "Karla", sans-serif;
}

.container {
  background-color: white;
  width: 600px;
  height: 400px;
  padding: 20px;
  padding-bottom: 0;
  border-radius: 5px;
  margin: 150px auto 0;
  position: relative;
  box-shadow: 0 0 15px hsl(204, 9%, 78%);
}
.header {
  color: hsl(179, 62%, 43%);
  font-weight: 700;
  font-size: 25px;
  padding: 10px;
}
.pragraph {
  color: hsl(71, 73%, 50%);
  font-size: 18px;
  font-weight: 400;
  padding: 10px;
}
.describtion {
  color: hsl(218, 22%, 67%);
  padding: 0 0 40px 10px;
  line-height: 1.6;
}
.left-side {
  background-color: hsl(179, 62%, 43%);
  padding: 10px;
  width: 300px;
  height: 220px;
  color: white;
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom-left-radius: 5px;
}
.right-side {
  background-color: hsl(179, 44%, 51%);
  padding: 10px;
  width: 300px;
  height: 220px;
  color: white;
  position: absolute;
  right: 0;
  bottom: 0;
  border-bottom-right-radius: 5px;
}
.sign {
  background-color: hsla(71, 73%, 54%, 0.96);
  padding: 15px 95px;
  border-radius: 5px;
  margin-left: 20px;
  margin-top: 10px;
  color: white;
  border: none;
}
.header-side1 {
  font-size: 18px;
  padding: 20px;
}
.price {
  padding: 0 0 10px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.price p:first-of-type {
  font-size: 30px;
  display: inline-block;
  font-weight: bold;
}
.price p:last-of-type {
  display: inline-block;
  opacity: 0.7;
}
.discount {
  padding: 0 0 20px 20px;
  font-size: 14px;
}
.header-side2 {
  font-size: 18px;
  padding: 20px;
}
.text {
  margin-left: 20px;
  line-height: 1.4;
  font-size: 14px;
  opacity: 0.6;
}
